<%= form_with model: @flight, method: :get do |form| %>
    <div>
        <%= form.label :departure_airport_id, 'Departure Airport:' %>
        <%= form.collection_select :departure_airport_id, Airport.order(:airport_code), :id, :airport_code %>
    </div>

    <div>
        <%= form.label :arrival_airport_id, 'Arrival Airport:' %>
        <%= form.collection_select :arrival_airport_id, Airport.order(:airport_code), :id, :airport_code %>
    </div>

    <div>
        <%= form.label :passenger_count, 'Number of Passengers:' %>
        <%= form.select :passenger_count, (1..4).map { |num| [num, num] } %>
    </div>

    <div>
        <%= form.label :date, 'Date of Flight' %>
        <%= form.collection_select :date, Flight.distinct_dates, :date, :flight_date_formatted %>
    </div>

    <%= form.submit 'Find Flights' %>
<% end %>

<% if @available_flights.any? %>
    <!-- Change url later -->
    <%= form_with url: "/flights", method: :get do |form|%>
        <%= form.label :flight_selected, 'Available Flights' %>
        <%= form.collection_radio_buttons :flight_selected, @available_flights, :id, :flight_radio_formatted%>

        <%= form.hidden_field :passenger_count, value: params[:passenger_count] %>
        <%= form.submit "Submit Flight" %>
    <% end %>
<% else %>
    <h3>No Flights Available</h3>
<% end %>