<%= form_with model: @flight, method: :get do |form| %>
    <div>
        <%= form.label :departure_airport_id, 'Departure Airport:' %>
        <%= form.collection_select :departure_airport_id, Airport.order(:airport_code), :id, :airport_code %>
    </div>

    <div>
        <%= form.label :arrival_airport_id, 'Arrival Airport:' %>
        <%= form.collection_select :arrival_airport_id, Airport.order(:airport_code), :id, :airport_code %>
    </div>

    <div>
        <%= form.label :passenger_count, 'Number of Passengers:' %>
        <%= form.select :passenger_count, (1..4).map { |num| [num, num] } %>
    </div>

    <div>
        <%= form.label :date, 'Date of Flight' %>
        <%= form.collection_select :date, Flight.distinct_dates, :date, :flight_date_formatted %>
    </div>

    <%= form.submit 'Find Flights' %>
<% end %>

<% if @available_flights.any? %>
    <h3>Available Flights:</h3>
    <ul>
        <% @available_flights.each do |flight| %>
            <li><%= "#{flight.departure_airport.airport_code} -> #{flight.arrival_airport.airport_code} At: #{flight.time.strftime('%H:%M')}" %></li>
        <% end %>
    </ul>
<% else %>
    <h3>No Flights Available</h3>
<% end %>