<%= link_to 'Flight Picker', root_path %>

<table>
    <thead>
        <tr>
            <th scope="col">Departure Airport</th>
            <th scope="col">Arrival Airport</th>
            <th scope="col">Flight Date</th>
            <th scope="col">Flight ID</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><%= @flight.departure_airport.airport_code %></td>
            <td><%= @flight.arrival_airport.airport_code %></td>
            <td><%= @flight.flight_date_formatted %></td>
            <td><%= @flight.id %></td>
        </tr>
    </tbody>
</table>

<h1>Booking Information</h1>
<%= form_with model: @booking do |form| %>
    
    <%= form.fields_for :passengers, @passengers do |passenger_form| %>
        <div>
            <div>
                <%= passenger_form.label :name, 'Passenger Name' %>
                <%= passenger_form.text_field :name %>
            </div>
            <div>
                <%= passenger_form.label :email, 'Passenger Email' %>
                <%= passenger_form.text_field :email %>
            </div>
        </div>
    <% end %>
    
    <%= form.hidden_field :flight_id, value: @flight.id %>
    <%= form.submit 'Submit' %>
<% end %>