<%= link_to 'Flight Picker', root_path %>

<h1>Booking Information</h1>

<div>
    <p><%= "Booking ID: #{@booking.id}" %></p>
</div>

<div>
    <h2>Flight Information</h2>
    <%= @booking.flight.flight_radio_formatted %>
</div>

<div>
    <h2>Passenger Information:</h2>
    <% @booking.passengers.each do |passenger| %>
        <div>
            <%= "Passenger Name: #{passenger.name}" %>
            <%= "Passenger Email: #{passenger.email}" %>
        </div>
    <% end %>
</div>
